.chart-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}
@media screen and (max-width: 767px) {
    .chart-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
